<?xml version="1.0" encoding="UTF-8"?>
<suite name="Suite">
	       <listeners>
            <listener class-name="utilities.ExtentReport" />
        </listeners>
  <test thread-count="5" name="Test">
<!--	  <parameter name="browser" value="chrome"/>--> 
    <classes>
      <class name="testCases.TC_001_ApplicationLogin"/>
     <class name="testCases.TC_002_EnterData_MissingData"/>
<!--  <class name="testCases.TC_003_Enter_MDFA_Priority"/>-->
      
    </classes>
	
  </test> <!-- Test -->
</suite> <!-- Suite -->
